@keyframes boxOut {
    0%   {opacity: 1; }
    100% {opacity: 0;}
}

@keyframes boxIn {
    0%     { opacity: 0;}
    100%   { opacity: 1; }
}

body {
    background: grey;   
}
.caption {
    color: white;
}

a {
    opacity: 0.55;
    color: white;
    transition: opacity 0.3s;
    &:hover{
        opacity: 0.8;
        color: white;
        text-decoration: none;
    }
}

#app {
    .title {
        letter-spacing: 0.3em;
    }
    #home {
        #tagcloud {
            padding-bottom: 20px;
            pointer-events: none;
            .tag {
                display: -webkit-inline-box;
                transition: all 0.3s;
                pointer-events: auto;
                margin: 0px 5px;
                color: white;
                font-weight: 600;
                opacity: 0.55;
                &.active{
                    opacity: 1;
                }
            }
        }
        .pages {            
            transition: opacity 1s;
            .box{
                opacity: 1;
                transition: transform 0.5s, opacity 0.5s;
                min-height: 0;
                @media (min-width: 768px) {
                    position: absolute;                    
                }
                @media (max-width: 767px) {
                    padding-left: 0px;                   
                }
                animation:boxIn 0.5s both;
                &.hide{
                    height: 0;
                    animation:boxOut 0.5s both;
                }
            }
            &.hide {
                pointer-events: none;
                opacity: 0;            
            }
        }        
    }
    .page-container{
        margin: 10px 0;
        .projects {
            .project{         
                display: none;
                opacity: 0;
                transition: opacity 0.3s;
                .project-title {
                    margin-top: 0px !important;
                }
                .imgs{
                    text-align: right;
                    .img-fluid{
                        margin-bottom: 10px;
                    }
                }
                &.show{
                    display: block;
                    opacity: 1;
                }
            }
        }
        .galleries {
            .gallery{                
                display: none;
                opacity: 0;
                &.show{
                    display: block;
                    opacity: 1;
                }
            }
        }
    }    
}
