@keyframes boxOut {
    0%   {opacity: 1; }
    100% {opacity: 0;}
}

@keyframes boxIn {
    0%     { opacity: 0;}
    100%   { opacity: 1;}
}

html {
    box-sizing: content-box;
}


body {
    background: grey;   
}
.caption {
    color: white;
}

* {
    color: gainsboro;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

a {
    opacity: 0.75;
    color: white;
    transition: opacity 0.3s;
    &:hover{
        opacity: 0.95;
        color: white;
        text-decoration: none;
    }
}

#app {
    .heading{       
        .title {
            @media (min-width: 992px) {
                display: -webkit-inline-box;
                display: -moz-inline-box;
                display: inline-box;
            }
            letter-spacing: 0.3em;
        }
        .menu{
            a {
                padding: 5px;
            }
            @media (min-width: 992px) {
                margin-left: 20px;
                display: -webkit-inline-box;
                display: -moz-inline-box;
                display: inline-box;
            }
    }
    }
    #home {
        #tagcloud {
            pointer-events: none;
            .tag {
                display: -webkit-inline-box;
                display: -moz-inline-box;
                display: inline-box;
                transition: all 0.3s;
                pointer-events: auto;
                margin: 0px 5px;
                color: white;
                font-weight: 600;
                opacity: 0.55;
                &.active{
                    opacity: 1;
                }
            }
        }
        .pages {            
            transition: opacity 1s;
            .box{
                
                .img-thumbnail {
                    padding: 0; 
                    border: none;
                    border-radius: 0;
                }
                pointer-events: auto;
                opacity: 1;
                transition: transform 0.5s, opacity 0.5s;
                min-height: 0;
                @media (min-width: 768px) {
                    max-width: 300px;
                    position: absolute;                    
                }
                @media (max-width: 767px) {
                    padding-left: 0px;                   
                }
                animation:boxIn 0.5s both;
                &.hide{
                    pointer-events: none;
                    height: 0;
                    animation:boxOut 0.5s both;
                }
            }
            &.hide {
                pointer-events: none;
                opacity: 0;      
                .box{
                    pointer-events: none;
                    height: 0;
                }      
            }
        }        
    }
    .page-container{
        margin: 10px 0;
        transition: all 1s;        
        .projects {
            .page {
                height: 0;
                pointer-events: none;
                z-index: -1;
                transition: opacity 1s;
                opacity: 0; 
                &.show{
                    opacity: 1;
                    pointer-events: auto;
                    z-index: 10;
                    .content{
                        transform: translateX(0);                        
                    }
                    .text{
                        transform: translateX(0);  
                    }
                }
            }
            .project{
                .row{
                    @media (max-width: 768px) {                                                                                                            
                        display: -webkit-box;
                        display: -moz-box;
                        display: box;
                                        
                        -webkit-box-orient: vertical;
                        -moz-box-orient: vertical;
                        box-orient: vertical;
                    }
                }
                .text{
                    transition: transform 0.8s;
                    @media (min-width: 768px) {                                        
                        transform: translateX(500px);                    
                    }

                    @media (max-width: 768px) {                                                                                    
                        -webkit-box-ordinal-group: 1;
                        -moz-box-ordinal-group: 1;
                        box-ordinal-group: 1;
                    }
                    .project-title {
                        margin-top: 0px !important;
                    }
                }          
                .content{
                    transition: transform 0.8s;
                    @media (min-width: 768px) {                                        
                        transform: translateY(30vw); 
                        max-width: 57%;                   
                    }

                    @media (max-width: 768px) {                                                                                    
                        -webkit-box-ordinal-group: 2;
                        -moz-box-ordinal-group: 2;
                        box-ordinal-group: 2;
                        
                    }
                    text-align: right;
                    .img-fluid{
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .galleries {
            .page {
                .text {
                    transition: transform 0.8s;
                    @media (min-width: 768px) {                                        
                        transform: translateX(-50vw);                    
                    }
                }

                .gallery-img{
                    transition: transform 0.8s;
                    @media (min-width: 768px) {                                        
                        transform: translateY(30vw);                    
                    }
                }
                
                height: 0;                
                pointer-events: none;
                z-index: -1;
                transition: opacity 1s;
                opacity: 0; 
                &.show{
                    .gallery-img{
                        transform: translateY(0);                    
                    }
                    .text {
                        transform: translateX(0);   
                    }

                    pointer-events: auto;
                    z-index: 10;
                   opacity: 1;
                }
            }
        }
    }    
}

#meus-elementos-secretos {
    position: absolute;
    top: 0;    
    .el {
        position: absolute;
        opacity: 1;
        //display: none;
        transition: opacity 0.5s;
        
        &.show {
            display: block;
            opacity: 1;
        }
    }
}